<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Thymeleaf Test Tutorial</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>

<h1>A Company Form</h1>
<h2>Länder som finns i DB:</h2>
<li th:each="country : ${Countries}">
    <p th:text="${country.name}"></p>
</li>

<form action="#" th:action="@{/admin/saveCompany}" th:object="${company}" method="POST">

    <p>Name: <input type="text" th:required="required" th:field="*{name}" /></p>
    <p>Founded: <input type="date"  th:required="required" th:field="*{founded}"  /> </p>
    <p>Defund: <input type="text" pattern="^$|\d{1,2}/\d{1,2}/\d{4}" th:field="*{defund}" /></p>
    <select th:field="*{countryId}">
        <option th:each="country : ${Countries}"
                th:value="${country.id}"
                th:text="${country.name}">Bob</option>
    </select>
    <!--<p>CountryId: <input type="text" th:field="*{countryId}" /></p>-->
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

<br/>
<h1>Result</h1>
<p th:text="'id: ' + ${company.id}" />
<p th:text="'name: ' + ${company.name}" />


<a th:href="@{/admin/addCompany}">Submit another Company</a>



<p>Back to index, Click <a th:href="@{/admin/}">here</a>.</p>




</body>
</html>